body{
    background-color: black;
}
p{
    text-align: justify;
    text-rendering: geometricPrecision;
    text-indent: 35px;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: blue;
    color: red;
    letter-spacing: .5px;
    line-height: 20px;
    text-shadow: 0 0 2px yellow;
    /* white-space: nowrap; */

}
p.down{
    font-size: 30px;
    line-height: 40px;
    text-shadow: 0 0 2px hsl(260, 100%, 80%), 0 0 4px hsl(275, 100%, 60%),  0 0 6px hsl(296, 100%, 50%);
    text-decoration-color: rgb(208, 0, 255);
    color: hsl(180, 100%, 95%);
}